<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
</head>
<body>
    <h1>Admin Login</h1>
    <form action="/admin-login" method="POST"> <!--to get login -->
    <label for="admin_id">Enter admin ID</label> <br>
    <input type="text" id="admin_id" class="admin-ID" name="admin_id" placeholder="Admin ID"><br>
    <label for="password">Enter Password</label><br>
    <input type="password" id="password" class="password" name ="password" placeholder="Password">
    <br>
    <button type="submit" >submit</button>
</body>
</html>