<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h1>User Form</h1>
    <form action="user_register" method="POST">
        <label for="voter_id">Voter ID</label>
        <input type="text" id="voter_id" name="voter_id" placeholder="voter_id" required>
        <br>
        <label for="voter_name">Voter Name</label>
        <input type="text" id="voter_name" name="voter_name" placeholder="voter name" required>
        <br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="email" required>
        <br>
        <label for="reg_date">Registration Date</label>
        <input type="date" id="reg_date" name="reg_date" placeholder="Registration date" required>
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="password" required>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
